<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dexterlab.crm.dao.RolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dexterlab.crm.domain.entity.Roles">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="modify_time" property="modifyTime" />
        <result column="modifyer" property="modifyer" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id, create_time, creator, modify_time, modifyer, deleted
    </sql>

</mapper>
