<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dexterlab.crm.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.dexterlab.crm.domain.entity.User">
        <id column="userId" property="userId"></id>
        <result column="userName" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
    </resultMap>

    <sql id="base_column_list">
        userId,userName,password,phone
    </sql>

    <select id="findAllUser" resultMap="BaseResultMap">
        select
        <include refid="base_column_list" />
        from t_user
    </select>



</mapper>